# ======================
# GLOBAL
# ======================

.env
.env.local
*.log

# ======================
# PYTHON
# ======================

__pycache__/
*.pyc
venv/
.env/

# ======================
# NODE
# ======================

node_modules/
.next/
out/

# ======================
# VSCODE
# ======================

.vscode/

# ======================
# OS FILES
# ======================

.DS_Store
Thumbs.db